# =========================
# Java compiled files
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Package files
# =========================
*.jar
*.war
*.ear

# =========================
# JVM crash logs
# =========================
hs_err_pid*

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Maven
# =========================
target/

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Optional: env files
# =========================
.env
/bin/
